<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Neural Style Transfer</title>
    <style>
        body {
            margin: auto;
        }
        .image {
            width: 48vw;
            margin: 0.5vw;
        }
        .div {
            display: inline-block;
            text-align: center;
            font-family: sans-serif;
        }
    </style>
</head>
<body>

    {% for card in cards %}
        <div class="div">
            <img class="image" src="{{ url_for('generated', image_id=card['image_id']) }}" alt="{{ card['image_id'] }}" />
                {# <div>{{ "Progress = %.2f%% (iteration #%d of %d)" % (card['percent'], card['cur_iter'], card['iters_num']) }}</div>#}
        </div>
    {% endfor %}

{#    The status is: { { status }}#}
{#    <img src="{ { url_for('static', filename='./Lain_Iwakura.jpg') }}" class="image" />#}
{#    <img src="{ { url_for('generated', image_id='luda1024') }}" class="image" />#}
</body>
</html>