<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Neural Style Transfer</title>
    <style>
        body {
            margin: auto;
        }
        .image {
            width: 23vw;
            margin: 0.5vw;
        }
        .div {
            display: inline-block;
            text-align: center;
            font-family: sans-serif;
        }
    </style>
</head>
<body>

    {% for id, pr in zip(image_ids, image_prog) %}
        <div class="div">
            <img class="image" src="{{ url_for('generated', image_id=id) }}" alt="{{ id }}" />
                <div>{{ "Progress = %.2f%% (iteration #%d of %d)" % (pr[0], pr[1], pr[2]) }}</div>
        </div>
    {% endfor %}

{#    The status is: { { status }}#}
{#    <img src="{ { url_for('static', filename='./Lain_Iwakura.jpg') }}" class="image" />#}
{#    <img src="{ { url_for('generated', image_id='luda1024') }}" class="image" />#}
</body>
</html>